<nav class="sidebar p-3">
  <h5 class="mb-4">Menú</h5>
  <ul class="nav flex-column" hx-boost="true">
    <li class="nav-item">
      <a class="nav-link" hx-get="/index" hx-target="#content" hx-push-url="true">Inicio</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" hx-get="/carga" hx-target="#content" hx-push-url="true">Carga</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" hx-get="/tabla" hx-target="#content" hx-push-url="true">Tabla</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" hx-get="/informes" hx-target="#content" hx-push-url="true">Informes</a>
    </li>
  </ul>
</nav>
