<nav class="sidebar p-3">
  <h5 class="mb-4">Menú</h5>
  <ul class="nav flex-column" hx-boost="true">
    <li class="nav-item">
      <a class="nav-link" hx-get="/index" hx-target="#content" hx-push-url="true">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" hx-get="/etiquetas" hx-target="#content" hx-push-url="true">Etiquetas</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" hx-get="/conceptos" hx-target="#content" hx-push-url="true">Conceptos</a>
    </li>
  </ul>
</nav>
